
/*
*
    start nav-top
*
*/
.nav-top{
  
    background-color: #192f59; 
    top: 0;
  }
  .top-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .info label{
    padding-right: 20px;
  }
  
    .top-content ul{
      list-style: none;
      margin: 0;
    }
  
    .top-content ul li:last-child{
      margin-left: auto;
    }
  
    .top-content{
      
      color: white;
      font-size: 12px;
    }
  
    .top-content ul li label{
      display: block;
      padding-top: 18px;
    }
  
    
    .top-content ul:first{
      padding-right: 20px;
      
    }
  
  
    .nav-top-btn a{
      text-decoration: none;
      color: white;
    }
  
    .nav-top-btn {
      display: block;
      margin-right: 0;
      background-color: #4EB575;
      padding: 18px 0;    
    }
  
    .svg-user{
      position: relative;
      background-color: transparent;
      width: 120px;
      height: 20px;
    }
  
  /*
  *
      end nav-top
  *
  */
    
  /*
  *
      start nav
  *
  */
  
  
  
    nav {
      background-color: white;
      height: 98px;
    }
    
    nav .menu-main-navigation {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    nav li.links {
      display: inline-block;
    }
    
    nav .links {
      text-decoration: none;
      color: #163269;
      font-weight: 630;
      font-size: 16px;
      padding: 16px 32px;
    }
    
    nav .links:hover {
      border-bottom: 4px solid #4EB575;
      transition: translateY(200ms);
      padding-bottom: 35px;
      color: #4EB575;
    }
  
    .logo {
      width: 249px;
      height: 98px;
      margin: 0;
      padding: 0;
    }
  
    .main-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      max-height: 98px;
    }
    
    .main-nav .logo:first-child{
      justify-self: flex-start;
    }

    .searchIcon{
      width: 19px;
      height: 19px;
    }
  
  /*
  *
      @end nav
  *
  */
  .dropdown {
    position: absolute;
    top : 98px;
    width: 170px;
    transform: translateX(-45);
    background-color: var(--bg);
    padding: 1rem;
    overflow: hidden;
  
  }
  .menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    transition: background var(--speed);
    padding: 0.5rem;
  }
  
  .menu-item:hover {
    background-color: #264480;
  }