
.searchBox:focus{
    outline: none;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

ul li {
    display: block;
    text-align: center;
    background-color: #fff;
    padding: 12px 0;
    margin: 15px 0;
    cursor: pointer;
}

ul li:first-child{
    margin-top: 5vh;
}
